# Project Proposal (Matt)

ADD TEXT HERE

# Project Code

## Data Extraction

### Flight Data (Myles & Sedra)

MK NOTES
1. Flight Data - Columns to Drop: 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'
2. Flight Data - Only Keep Rows with Following Airline Codes: 'UA', 'AA', 'US', 'WN', 'DL', 'VX'
3. Flight Data - Add Column for Total Delay (Add Together Departure & Arrival Delay Values)
4. Flight Data - Combine Date Value Columns into Single Date Column
5. Airline Data - Only Keep Rows with Following Airline Codes: 'UA', 'AA', 'US', 'WN', 'DL', 'VX'
6. Airport Data - Columns to Drop: 'LATITUDE', 'LONGITUDE'

In [ ]:
#Import Modules
import os
import pandas as pd
import numpy as np
import datetime

In [ ]:
flight_path = "Flight data/flights.csv"
airline_path = "Flight data/airlines.csv"
airport_path = "Flight data/airports.csv"

In [ ]:
flights_pd = pd.read_csv(flight_path)
flights_pd.head()

In [ ]:
airport_pd = pd.read_csv(airport_path)
airport_pd.head()

In [ ]:
airline_pd = pd.read_csv(airline_path)
airline_pd.head()

In [ ]:
#Flight Data - Drop: 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'
update1_flights = flights_pd.drop(columns=['CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'])
update1_flights.head()

In [ ]:
#Flight Data - Only Keep Rows with Following Airline Codes: 'UA', 'AA', 'US', 'WN', 'DL', 'VX'
array = ['UA', 'AA', 'US', 'WN', 'DL', 'VX']
update2_flights = update1_flights.loc[update1_flights['AIRLINE'].isin(array)]
update2_flights

In [ ]:
update2_flights['Total Delay'] = update1_flights['SCHEDULED_DEPARTURE'] + update1_flights['ARRIVAL_DELAY']
update2_flights.head()

In [ ]:
#Flight Data - Combine Date Value Columns into Single Date

In [ ]:
############----------------------------------------------------------------------------------------------

In [ ]:
#Airline Data - Only Keep Rows with Following Airline Codes: 'UA', 'AA', 'US', 'WN', 'DL', 'VX'
array = ['UA', 'AA', 'US', 'WN', 'DL', 'VX']
update1_airline = airline_pd.loc[airline_pd['IATA_CODE'].isin(array)]
update1_airline

In [ ]:
#########-----Airport Extraction

In [ ]:
# Airport Data - Columns to Drop: 'LATITUDE', 'LONGITUDE'
update1_airport = airport_pd.drop(columns=['LATITUDE', 'LONGITUDE'])
update1_airport.head()

In [ ]:
#FINAL DF
update3_flights = update2_flights[(update2_flights['DAY'] >= 16) & (update2_flights['DAY'] <= 24)]
update3_flights.head()

In [ ]:
###-----------------------------------------------------------------------------------

In [ ]:
latedf = update3_flights[update3_flights['Total Delay']>0]

scheduled_arrival = []
for item in latedf['SCHEDULED_ARRIVAL'].astype(int):
    if item == 2400:
        scheduled_arrival.append(datetime.datetime.strptime('0000', '%H%M').strftime('%H:%M'))
    elif item >= 1000:
        scheduled_arrival.append(datetime.datetime.strptime(str(item), '%H%M').strftime('%H:%M'))
    elif item >= 100 and item <= 999:
        scheduled_arrival.append(datetime.datetime.strptime('0' + str(item), '%H%M').strftime('%H:%M'))
    elif item >= 10 and item <= 99:
        scheduled_arrival.append(datetime.datetime.strptime('00'+ str(item), '%H%M').strftime('%H%M'))
    elif item <=9 :
        scheduled_arrival.append(datetime.datetime.strptime('000'+str(item), '%H%M').strftime('%H%M'))

scheduled_departure = []
for item in latedf['SCHEDULED_DEPARTURE'].astype(int):
    if item == 2400:
        scheduled_departure.append(datetime.datetime.strptime('0000', '%H%M').strftime('%H:%M'))
    elif item >= 1000:
        scheduled_departure.append(datetime.datetime.strptime(str(item), '%H%M').strftime('%H:%M'))
    elif item >= 100 and item <= 999:
        scheduled_departure.append(datetime.datetime.strptime('0' + str(item), '%H%M').strftime('%H:%M'))
    elif item >= 10 and item <= 99:
        scheduled_departure.append(datetime.datetime.strptime('00'+ str(item), '%H%M').strftime('%H%M'))
    elif item <=9 :
        scheduled_departure.append(datetime.datetime.strptime('000'+str(item), '%H%M').strftime('%H%M'))
        
departure_time = []
for item in latedf['DEPARTURE_TIME'].astype(int):
    if item == 2400:
        departure_time.append(datetime.datetime.strptime('0000', '%H%M').strftime('%H:%M'))
    elif item >= 1000:
        departure_time.append(datetime.datetime.strptime(str(item), '%H%M').strftime('%H:%M'))
    elif item >= 100 and item <= 999:
        departure_time.append(datetime.datetime.strptime('0' + str(item), '%H%M').strftime('%H:%M'))
    elif item >= 10 and item <= 99:
        departure_time.append(datetime.datetime.strptime('00'+ str(item), '%H%M').strftime('%H%M'))
    elif item <=9 :
        departure_time.append(datetime.datetime.strptime('000'+str(item), '%H%M').strftime('%H%M'))
        
wheels_off = []
for item in latedf['WHEELS_OFF'].astype(int):
    if item == 2400:
        wheels_off.append(datetime.datetime.strptime('0000', '%H%M').strftime('%H:%M'))
    elif item >= 1000:
        wheels_off.append(datetime.datetime.strptime(str(item), '%H%M').strftime('%H:%M'))
    elif item >= 100 and item <= 999:
        wheels_off.append(datetime.datetime.strptime('0' + str(item), '%H%M').strftime('%H:%M'))
    elif item >= 10 and item <= 99:
        wheels_off.append(datetime.datetime.strptime('00'+ str(item), '%H%M').strftime('%H%M'))
    elif item <=9 :
        wheels_off.append(datetime.datetime.strptime('000'+str(item), '%H%M').strftime('%H%M'))
        
wheels_on = []
for item in latedf['WHEELS_ON'].astype(int):
    if item == 2400:
        wheels_on.append(datetime.datetime.strptime('0000', '%H%M').strftime('%H:%M'))
    elif item >= 1000:
        wheels_on.append(datetime.datetime.strptime(str(item), '%H%M').strftime('%H:%M'))
    elif item >= 100 and item <= 999:
        wheels_on.append(datetime.datetime.strptime('0' + str(item), '%H%M').strftime('%H:%M'))
    elif item >= 10 and item <= 99:
        wheels_on.append(datetime.datetime.strptime('00'+ str(item), '%H%M').strftime('%H%M'))
    elif item <=9 :
        wheels_on.append(datetime.datetime.strptime('000'+str(item), '%H%M').strftime('%H%M'))
        
arrival_time = []
for item in latedf['ARRIVAL_TIME'].astype(int):
    if item == 2400:
        arrival_time.append(datetime.datetime.strptime('0000', '%H%M').strftime('%H:%M'))
    elif item >= 1000:
        arrival_time.append(datetime.datetime.strptime(str(item), '%H%M').strftime('%H:%M'))
    elif item >= 100 and item <= 999:
        arrival_time.append(datetime.datetime.strptime('0' + str(item), '%H%M').strftime('%H:%M'))
    elif item >= 10 and item <= 99:
        arrival_time.append(datetime.datetime.strptime('00'+ str(item), '%H%M').strftime('%H%M'))
    elif item <=9 :
        arrival_time.append(datetime.datetime.strptime('000'+str(item), '%H%M').strftime('%H%M'))
        
departure_delay = []
arrival_delay = []
total_delay = []

for item in latedf['DEPARTURE_DELAY'].astype(int):
    if item < 0:
        departure_delay.append('-' + str(datetime.timedelta(minutes = (-1 * item)))[:-3])
    else:
        departure_delay.append(str(datetime.timedelta(minutes = item))[:-3])

for item in latedf['ARRIVAL_DELAY'].astype(int):
    if item < 0:
        arrival_delay.append('-' + str(datetime.timedelta(minutes = (-1 * item)))[:-3])
    else:
        arrival_delay.append(str(datetime.timedelta(minutes = item))[:-3])
        
for item in latedf['Total Delay'].astype(int):
    if item < 0:
        total_delay.append('-' + str(datetime.timedelta(minutes = (-1 * item)))[:-3])
    else:
        total_delay.append(str(datetime.timedelta(minutes = item))[:-3])

latedf['DEPARTURE_DELAY']=departure_delay
latedf['ARRIVAL_DELAY'] = arrival_delay
latedf['Total Delay'] = total_delay



'TAXI_OUT', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'TAXI_IN'
taxi_out = []
for item in latedf['TAXI_OUT'].astype(int):
    taxi_out.append(str(datetime.timedelta(minutes = item))[:-3])
    
scheduled_time = []
for item in latedf['SCHEDULED_TIME'].astype(int):
    scheduled_time.append(str(datetime.timedelta(minutes = item))[:-3])
    
elapsed_time = []
for item in latedf['ELAPSED_TIME'].astype(int):
    elapsed_time.append(str(datetime.timedelta(minutes = item))[:-3])
    
air_time = []
for item in latedf['AIR_TIME'].astype(int):
    elapsed_time.append(str(datetime.timedelta(minutes = item))[:-3])
    
taxi_in = []
for item in latedf['TAXI_IN'].astype(int):
    taxi_out.append(str(datetime.timedelta(minutes = item))[:-3])
    
latedf['TAXI_OUT'] = taxi_out
latedf['SCHEDULED_TIME'] = scheduled_time
latedf['ELAPSED_TIME'] = elapsed_time
latedf['AIR_TIME'] = air_time
latedf['TAXI_IN'] = taxi_in

In [17]:
latedf['SCHEDULED_ARRIVAL'] = scheduled_arrival
latedf['SCHEDULED_DEPARTURE'] = scheduled_departure
latedf['DEPARTURE_TIME'] = departure_time
latedf['WHEELS_OFF'] = wheels_off
latedf['WHEELS_ON'] = wheels_on
latedf['ARRIVAL_TIME'] = arrival_time

C:\Users\myles\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\myles\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\myles\Anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\myles\Anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\myles\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\myles\Anaconda\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
latedf.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,Total Delay
225468,2015,2,16,1,AA,2400,N5ESAA,LAX,DFW,0005,...,147.0,1235,04:43,6.0,04:53,04:49,-0:04,0,0,0:01
225470,2015,2,16,1,DL,2579,N693DL,DEN,ATL,0015,...,135.0,1199,05:24,11.0,05:11,05:35,0:24,0,0,0:39
225472,2015,2,16,1,AA,258,N3DEAA,LAX,MIA,0020,...,254.0,2342,07:50,8.0,08:04,07:58,-0:06,0,0,0:14
225474,2015,2,16,1,US,1905,N173US,SFO,CLT,0025,...,252.0,2296,07:43,32.0,08:11,08:15,0:04,0,0,0:29
225475,2015,2,16,1,AA,1234,N3LVAA,LAS,ORD,0027,...,172.0,1514,06:15,7.0,05:50,06:22,0:32,0,0,0:59

In [19]:
cancel_df = update3_flights[update3_flights['CANCELLED']==1]
cancel_df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,Total Delay
225529,2015,2,16,1,US,1852,NaN,BOS,CLT,500,...,NaN,728,NaN,NaN,725,NaN,NaN,0,1,NaN
225580,2015,2,16,1,DL,1780,N967DL,BNA,ATL,525,...,NaN,214,NaN,NaN,735,NaN,NaN,0,1,NaN
225602,2015,2,16,1,US,1909,NaN,BOS,PHL,530,...,NaN,280,NaN,NaN,659,NaN,NaN,0,1,NaN
225665,2015,2,16,1,DL,2079,N329NW,BOS,DTW,545,...,NaN,632,NaN,NaN,759,NaN,NaN,0,1,NaN
225672,2015,2,16,1,WN,346,NaN,BDL,ATL,545,...,NaN,859,NaN,NaN,840,NaN,NaN,0,1,NaN

In [20]:
#Drop columns with NAN
cancel_df2 = cancel_df.drop(columns =['ARRIVAL_TIME','ARRIVAL_DELAY','TAXI_IN','WHEELS_ON','AIR_TIME','DEPARTURE_TIME','Total Delay','ELAPSED_TIME','WHEELS_OFF','TAXI_OUT','DEPARTURE_DELAY'])
cancel_df2
cancel_df3 = cancel_df2.dropna()
cancel_df3.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,SCHEDULED_TIME,DISTANCE,SCHEDULED_ARRIVAL,DIVERTED,CANCELLED
225580,2015,2,16,1,DL,1780,N967DL,BNA,ATL,525,70.0,214,735,0,1
225665,2015,2,16,1,DL,2079,N329NW,BOS,DTW,545,134.0,632,759,0,1
225708,2015,2,16,1,WN,4720,N376SW,BNA,MCO,550,110.0,616,840,0,1
225730,2015,2,16,1,AA,1233,N3DYAA,BOS,DFW,555,274.0,1562,929,0,1
225824,2015,2,16,1,DL,750,N892AT,BOS,JFK,600,80.0,187,720,0,1

In [21]:
#ADD CODE HERE

### Tweet Data (Natalie)

MK NOTES
1. Columns to Drop: 'negativereason', 'negativereason_confidence', 'airline_sentiment_gold', 'negativereason_gold', 'tweet_coord', 'tweet_location', 'user_timezone'
2. Convert Date Column to Only Include Date & Not Time
3. Convert Airline Name to Airline Code

In [22]:
#ADD CODE HERE

## Data Transformation

### Flight Data (Myles & Sedra)

MK NOTES
1. Airport Data - No Changes
2. Airline Data - No Changes
3. Flight Data - Use Group By & Filtering to Create Individual Data Frames for Delayed/Early/Cancelled/Diverted Flights for Each Airline (AIRLINE CODE MUST BE IN EACH DATAFRAME)

In [35]:

#CANCELLED FLIGHTS 
group_cancel = cancel_df3.groupby(['AIRLINE'])
for name, group in group_cancel:
    if name == 'UA':
        UA_cancelled = pd.DataFrame(group)
        
        UA_cancelled = UA_cancelled.reset_index().drop(['index'], axis = 1)
    elif name == 'AA':
        AA_cancelled = pd.DataFrame(group)
        
        AA_cancelled = AA_cancelled.reset_index().drop(['index'],axis = 1)
    elif name == 'DL':
        DL_cancelled = pd.DataFrame(group)
        
        DL_cancelled = DL_cancelled.reset_index().drop(['index'],axis = 1)
    elif name == 'US':
        US_cancelled = pd.DataFrame(group)
        
        US_cancelled = US_cancelled.reset_index().drop(['index'],axis = 1)
    elif name =='WN':
        WN_cancelled = pd.DataFrame(group)
        
        WN_cancelled = WN_cancelled.reset_index().drop(['index'],axis = 1)
    elif name == 'VX':
        VX_cancelled = pd.DataFrame(group)
        
        VX_cancelled = VX_cancelled.reset_index().drop(['index'],axis = 1)
        
print(UA_cancelled)
print(AA_cancelled)
print(DL_cancelled)
print(US_cancelled)
print(WN_cancelled) 
print(VX_cancelled)

AA/DL/US/WN/VX

   YEAR  MONTH  DAY  DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER  \
0  2015      2   16            1      UA            627      N818UA
1  2015      2   16            1      UA           1429      N37470
2  2015      2   18            3      UA           1159      N13248
3  2015      2   21            6      UA           1220      N27901
4  2015      2   21            6      UA            217      N808UA

  ORIGIN_AIRPORT DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  SCHEDULED_TIME  \
0            DCA                 ORD                 1745           134.0
1            IAD                 LAS                 1949           327.0
2            EWR                 SJU                 2000           233.0
3            DEN                 IAH                 1445           136.0
4            IAD                 SFO                 1629           369.0

   DISTANCE  SCHEDULED_ARRIVAL  DIVERTED  CANCELLED
0       612               1859         0          1
1      2065               2216         0          1
2      1608                 53         0          1
3       862               1801         0          1
4      2419               1938         0          1
     YEAR  MONTH  DAY  DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER  \
0    2015      2   16            1      AA           1233      N3DYAA
1    2015      2   16            1      AA           1165      N3BSAA
2    2015      2   16            1      AA           1315      N501AA
3    2015      2   16            1      AA           1361      N3CXAA
4    2015      2   16            1      AA            289      N3FYAA
5    2015      2   16            1      AA           2287      N514AA
6    2015      2   16            1      AA            137      N3HDAA
7    2015      2   16            1      AA           1677      N4YPAA
8    2015      2   16            1      AA            385      N483AA
9    2015      2   16            1      AA             97      N3GAAA
10   2015      2   16            1      AA           1183      N474AA
11   2015      2   16            1      AA            323      N482AA
12   2015      2   16            1      AA            309      N467AA
13   2015      2   16            1      AA           1677      N4YPAA
14   2015      2   16            1      AA           2464      N504AA
15   2015      2   16            1      AA           1183      N474AA
16   2015      2   16            1      AA           1212      N020AA
17   2015      2   16            1      AA           1307      N3DYAA
18   2015      2   16            1      AA             52      N3EUAA
19   2015      2   16            1      AA           2262      N467AA
20   2015      2   16            1      AA           1025      N3FSAA
21   2015      2   16            1      AA           2464      N504AA
22   2015      2   16            1      AA           1519      N426AA
23   2015      2   16            1      AA           1593      N541AA
24   2015      2   16            1      AA           1212      N020AA
25   2015      2   16            1      AA           2262      N467AA
26   2015      2   16            1      AA           1497      N470AA
27   2015      2   16            1      AA           1519      N426AA
28   2015      2   16            1      AA           1364      N3FSAA
29   2015      2   16            1      AA            138      N3FVAA
..    ...    ...  ...          ...     ...            ...         ...
435  2015      2   24            2      AA             74      N4WJAA
436  2015      2   24            2      AA           2249      N454AA
437  2015      2   24            2      AA           1218      N564AA
438  2015      2   24            2      AA           1309      N503AA
439  2015      2   24            2      AA            374      N3CAAA
440  2015      2   24            2      AA           1310      N520AA
441  2015      2   24            2      AA           1602      N4XUAA
442  2015      2   24            2      AA           1288      N3JKAA
443  2015      2   24            2      AA           1114      N3CRAA
444  2015      2   24            2      AA           1098      N4XJAA
445  2015      2   24            2      AA            324      N3BKAA
446  2015      2   24            2      AA           1024      N477AA
447  2015      2   24            2      AA           2311      N3JBAA
448  2015      2   24            2      AA            343      N3CAAA
449  2015      2   24            2      AA           1399      N4YFAA
450  2015      2   24            2      AA            356      N019AA
451  2015      2   24            2      AA           1636      N4XLAA
452  2015      2   24            2      AA            149      N3ELAA
453  2015      2   24            2      AA           1304      N482AA
454  2015      2   24            2      AA            134      N3JYAA
455  2015      2   24            2      AA           2257      N3HWAA
456  2015      2   24            2      AA           2394      N3LWAA
457  2015      2   24            2      AA            386      N472AA
458  2015      2   24            2      AA           1224      N425AA
459  2015      2   24            2      AA           1389      N599AA
460  2015      2   24            2      AA            296      N4XGAA
461  2015      2   24            2      AA           1535      N481AA
462  2015      2   24            2      AA           2368      N494AA
463  2015      2   24            2      AA           2284      N3JNAA
464  2015      2   24            2      AA           1413      N4WMAA

    ORIGIN_AIRPORT DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  SCHEDULED_TIME  \
0              BOS                 DFW                  555           274.0
1              BOS                 JFK                  605            77.0
2              BNA                 DFW                  609           136.0
3              BNA                 LAX                  645           288.0
4              BOS                 ORD                  701           184.0
5              BNA                 DFW                  730           139.0
6              DCA                 DFW                  734           221.0
7              DFW                 MEM                  800            85.0
8              BNA                 DFW                  825           135.0
9              DCA                 DFW                  844           231.0
10             DFW                 BNA                  855           100.0
11             STL                 DFW                  901           117.0
12             BNA                 DFW                  920           130.0
13             MEM                 DFW                 1005           100.0
14             DFW                 BNA                 1055           100.0
15             BNA                 DFW                 1115           129.0
16             DFW                 SDF                 1130           114.0
17             LAX                 BNA                 1145           231.0
18             LAX                 DCA                 1225           289.0
19             DFW                 BNA                 1305           100.0
20             MIA                 CLT                 1315           129.0
21             BNA                 DFW                 1315           128.0
22             DFW                 MEM                 1400            83.0
23             DFW                 CLT                 1455           140.0
24             SDF                 DFW                 1509           141.0
25             BNA                 DFW                 1525           129.0
26             DFW                 BNA                 1545           100.0
27             MEM                 DFW                 1605           107.0
28             CLT                 ORD                 1615           129.0
29             DFW                 DCA                 1655           159.0
..             ...                 ...                  ...             ...
435            HOU                 DFW                 1109            71.0
436            IAH                 DFW                 1125            74.0
437            MSP                 DFW                 1146           159.0
438            TUS                 DFW                 1157           128.0
439            ORD                 LGA                 1225           119.0
440            CLE                 DFW                 1307           188.0
441            BWI                 DFW                 1406           219.0
442            SAN                 DFW                 1421           174.0
443            LGA                 DFW                 1459           259.0
444            SMF                 DFW                 1501           199.0
445            MCO                 DFW                 1510           178.0
446            ABQ                 DFW                 1535           103.0
447            SEA                 DFW                 1551           219.0
448            LGA                 ORD                 1611           174.0
449            STL                 DFW                 1624           116.0
450            ATL                 DFW                 1644           151.0
451            AUS                 DFW                 1703            67.0
452            RSW                 DFW                 1730           185.0
453            DAY                 DFW                 1734           166.0
454            DCA                 DFW                 1745           216.0
455            PHX                 DFW                 1750           132.0
456            SNA                 DFW                 1750           164.0
457            JAX                 DFW                 1822           173.0
458            EWR                 DFW                 1844           250.0
459            LAS                 DFW                 1905           153.0
460            SAT                 DFW                 1906            69.0
461            MCI                 DFW                 1920           100.0
462            MSY                 DFW                 1942            98.0
463            ORD                 DCA                 2045           103.0
464            DFW                 SAT                 2250            62.0

     DISTANCE  SCHEDULED_ARRIVAL  DIVERTED  CANCELLED
0        1562                929         0          1
1         187                722         0          1
2         631                825         0          1
3        1797                933         0          1
4         867                905         0          1
5         631                949         0          1
6        1192               1015         0          1
7         432                925         0          1
8         631               1040         0          1
9        1192               1135         0          1
10        631               1035         0          1
11        550               1058         0          1
12        631               1130         0          1
13        432               1145         0          1
14        631               1235         0          1
15        631               1324         0          1
16        733               1424         0          1
17       1797               1736         0          1
18       2311               2014         0          1
19        631               1445         0          1
20        650               1524         0          1
21        631               1523         0          1
22        432               1523         0          1
23        936               1815         0          1
24        733               1630         0          1
25        631               1734         0          1
26        631               1725         0          1
27        432               1752         0          1
28        599               1724         0          1
29       1192               2034         0          1
..        ...                ...       ...        ...
435       247               1220         0          1
436       224               1239         0          1
437       852               1425         0          1
438       813               1505         0          1
439       733               1524         0          1
440      1021               1515         0          1
441      1217               1645         0          1
442      1171               1915         0          1
443      1389               1818         0          1
444      1431               2020         0          1
445       985               1708         0          1
446       569               1818         0          1
447      1660               2130         0          1
448       733               1805         0          1
449       550               1820         0          1
450       731               1815         0          1
451       190               1810         0          1
452      1017               1935         0          1
453       861               1920         0          1
454      1192               2021         0          1
455       868               2102         0          1
456      1205               2234         0          1
457       918               2015         0          1
458      1372               2154         0          1
459      1055               2338         0          1
460       247               2015         0          1
461       460               2100         0          1
462       447               2120         0          1
463       612               2328         0          1
464       247               2352         0          1

[465 rows x 15 columns]
     YEAR  MONTH  DAY  DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER  \
0    2015      2   16            1      DL           1780      N967DL
1    2015      2   16            1      DL           2079      N329NW
2    2015      2   16            1      DL            750      N892AT
3    2015      2   16            1      DL           1481      N956DL
4    2015      2   16            1      DL           1504      N995DL
5    2015      2   16            1      DL           1540      N962DL
6    2015      2   16            1      DL           2099      N917DL
7    2015      2   16            1      DL           2665      N896AT
8    2015      2   16            1      DL           2666      N954AT
9    2015      2   16            1      DL            809      N318NB
10   2015      2   16            1      DL           1324      N937AT
11   2015      2   16            1      DL           1268      N359NW
12   2015      2   16            1      DL           2699      N607AT
13   2015      2   16            1      DL           2083      N652DL
14   2015      2   16            1      DL           2667      N891AT
15   2015      2   16            1      DL           2668      N924AT
16   2015      2   16            1      DL           1614      N998DL
17   2015      2   16            1      DL             95      N365NB
18   2015      2   16            1      DL            819      N330NW
19   2015      2   16            1      DL           2441      N960AT
20   2015      2   16            1      DL           2062      N364NB
21   2015      2   16            1      DL           2589      N916DE
22   2015      2   16            1      DL           2531      N374DA
23   2015      2   16            1      DL           1424      N938AT
24   2015      2   16            1      DL            189      N301NB
25   2015      2   16            1      DL           1480      N924AT
26   2015      2   16            1      DL           1913      N951DL
27   2015      2   16            1      DL           2418      N960AT
28   2015      2   16            1      DL           2589      N916DE
29   2015      2   16            1      DL           2434       N3767
..    ...    ...  ...          ...     ...            ...         ...
445  2015      2   24            2      DL           2656      N960AT
446  2015      2   24            2      DL           2091      N903DA
447  2015      2   24            2      DL           1310      N909DE
448  2015      2   24            2      DL           1391      N937AT
449  2015      2   24            2      DL           2180      N912DL
450  2015      2   24            2      DL           2505      N934AT
451  2015      2   24            2      DL           1550      N906DL
452  2015      2   24            2      DL           1790      N550NW
453  2015      2   24            2      DL           1699      N947DL
454  2015      2   24            2      DL           1401      N663DN
455  2015      2   24            2      DL           1412      N937DL
456  2015      2   24            2      DL           2173      N951DL
457  2015      2   24            2      DL           1693      N924AT
458  2015      2   24            2      DL           1803      N941DL
459  2015      2   24            2      DL           1341      N964DL
460  2015      2   24            2      DL           1564      N915DN
461  2015      2   24            2      DL           2528      N948DL
462  2015      2   24            2      DL           1803      N941DL
463  2015      2   24            2      DL           2472      N910AT
464  2015      2   24            2      DL           1077      N990DL
465  2015      2   24            2      DL           2533      N989AT
466  2015      2   24            2      DL           1564      N915DN
467  2015      2   24            2      DL           1666      N821DN
468  2015      2   24            2      DL           2472      N910AT
469  2015      2   24            2      DL           1077      N990DL
470  2015      2   24            2      DL           1774      N944DL
471  2015      2   24            2      DL           2533      N989AT
472  2015      2   24            2      DL           1666      N821DN
473  2015      2   24            2      DL           1774      N944DL
474  2015      2   24            2      DL           2409      N910AT

    ORIGIN_AIRPORT DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  SCHEDULED_TIME  \
0              BNA                 ATL                  525            70.0
1              BOS                 DTW                  545           134.0
2              BOS                 JFK                  600            80.0
3              LIT                 ATL                  600            95.0
4              XNA                 ATL                  600           107.0
5              OKC                 ATL                  600           131.0
6              SDF                 ATL                  600            90.0
7              BOS                 LGA                  600            79.0
8              LGA                 BOS                  600            66.0
9              BOS                 MSP                  605           205.0
10             BNA                 ATL                  625            74.0
11             BNA                 DTW                  630            96.0
12             BOS                 LGA                  630            82.0
13             BOS                 SLC                  645           338.0
14             BOS                 LGA                  700            79.0
15             LGA                 BOS                  700            72.0
16             LIT                 ATL                  710            99.0
17             BNA                 ATL                  800            74.0
18             BOS                 MSP                  805           204.0
19             ATL                 MEM                  810            87.0
20             JFK                 AUS                  815           279.0
21             ATL                 BNA                  826            68.0
22             BOS                 LAX                  830           404.0
23             DTW                 BNA                  841           102.0
24             BOS                 DTW                  845           140.0

NameError: name 'AA' is not defined

In [40]:
#Late 
group_late = latedf.groupby(['AIRLINE'])
for name, group in group_cancel:
    if name == 'UA':
        UA_late = pd.DataFrame(group)
        
        UA_late= UA_late.reset_index().drop(['index'], axis = 1)
    elif name == 'AA':
        AA_late = pd.DataFrame(group)
        
        AA_late = AA_late.reset_index().drop(['index'],axis = 1)
    elif name == 'DL':
        DL_late = pd.DataFrame(group)
        
        DL_late = DL_late.reset_index().drop(['index'],axis = 1)
    elif name == 'US':
        US_late = pd.DataFrame(group)
        
        US_late = US_late.reset_index().drop(['index'],axis = 1)
    elif name =='WN':
        WN_late = pd.DataFrame(group)
        
        WN_late = WN_late.reset_index().drop(['index'],axis = 1)
    elif name == 'VX':
        VX_late = pd.DataFrame(group)
        
        VX_late = VX_late.reset_index().drop(['index'],axis = 1)
        
print(UA_late)
print(AA_late)
print(DL_late)
print(US_late)
print(WN_late) 
print(VX_late)

   YEAR  MONTH  DAY  DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER  \
0  2015      2   16            1      UA            627      N818UA
1  2015      2   16            1      UA           1429      N37470
2  2015      2   18            3      UA           1159      N13248
3  2015      2   21            6      UA           1220      N27901
4  2015      2   21            6      UA            217      N808UA

  ORIGIN_AIRPORT DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  SCHEDULED_TIME  \
0            DCA                 ORD                 1745           134.0
1            IAD                 LAS                 1949           327.0
2            EWR                 SJU                 2000           233.0
3            DEN                 IAH                 1445           136.0
4            IAD                 SFO                 1629           369.0

   DISTANCE  SCHEDULED_ARRIVAL  DIVERTED  CANCELLED
0       612               1859         0          1
1      2065               2216         0          1
2      1608                 53         0          1
3       862               1801         0          1
4      2419               1938         0          1
     YEAR  MONTH  DAY  DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER  \
0    2015      2   16            1      AA           1233      N3DYAA
1    2015      2   16            1      AA           1165      N3BSAA
2    2015      2   16            1      AA           1315      N501AA
3    2015      2   16            1      AA           1361      N3CXAA
4    2015      2   16            1      AA            289      N3FYAA
5    2015      2   16            1      AA           2287      N514AA
6    2015      2   16            1      AA            137      N3HDAA
7    2015      2   16            1      AA           1677      N4YPAA
8    2015      2   16            1      AA            385      N483AA
9    2015      2   16            1      AA             97      N3GAAA
10   2015      2   16            1      AA           1183      N474AA
11   2015      2   16            1      AA            323      N482AA
12   2015      2   16            1      AA            309      N467AA
13   2015      2   16            1      AA           1677      N4YPAA
14   2015      2   16            1      AA           2464      N504AA
15   2015      2   16            1      AA           1183      N474AA
16   2015      2   16            1      AA           1212      N020AA
17   2015      2   16            1      AA           1307      N3DYAA
18   2015      2   16            1      AA             52      N3EUAA
19   2015      2   16            1      AA           2262      N467AA
20   2015      2   16            1      AA           1025      N3FSAA
21   2015      2   16            1      AA           2464      N504AA
22   2015      2   16            1      AA           1519      N426AA
23   2015      2   16            1      AA           1593      N541AA
24   2015      2   16            1      AA           1212      N020AA
25   2015      2   16            1      AA           2262      N467AA
26   2015      2   16            1      AA           1497      N470AA
27   2015      2   16            1      AA           1519      N426AA
28   2015      2   16            1      AA           1364      N3FSAA
29   2015      2   16            1      AA            138      N3FVAA
..    ...    ...  ...          ...     ...            ...         ...
435  2015      2   24            2      AA             74      N4WJAA
436  2015      2   24            2      AA           2249      N454AA
437  2015      2   24            2      AA           1218      N564AA
438  2015      2   24            2      AA           1309      N503AA
439  2015      2   24            2      AA            374      N3CAAA
440  2015      2   24            2      AA           1310      N520AA
441  2015      2   24            2      AA           1602      N4XUAA
442  2015      2   24            2      AA           1288      N3JKAA
443  2015      2   24            2      AA           1114      N3CRAA
444  2015      2   24            2      AA           1098      N4XJAA
445  2015      2   24            2      AA            324      N3BKAA
446  2015      2   24            2      AA           1024      N477AA
447  2015      2   24            2      AA           2311      N3JBAA
448  2015      2   24            2      AA            343      N3CAAA
449  2015      2   24            2      AA           1399      N4YFAA
450  2015      2   24            2      AA            356      N019AA
451  2015      2   24            2      AA           1636      N4XLAA
452  2015      2   24            2      AA            149      N3ELAA
453  2015      2   24            2      AA           1304      N482AA
454  2015      2   24            2      AA            134      N3JYAA
455  2015      2   24            2      AA           2257      N3HWAA
456  2015      2   24            2      AA           2394      N3LWAA
457  2015      2   24            2      AA            386      N472AA
458  2015      2   24            2      AA           1224      N425AA
459  2015      2   24            2      AA           1389      N599AA
460  2015      2   24            2      AA            296      N4XGAA
461  2015      2   24            2      AA           1535      N481AA
462  2015      2   24            2      AA           2368      N494AA
463  2015      2   24            2      AA           2284      N3JNAA
464  2015      2   24            2      AA           1413      N4WMAA

    ORIGIN_AIRPORT DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  SCHEDULED_TIME  \
0              BOS                 DFW                  555           274.0
1              BOS                 JFK                  605            77.0
2              BNA                 DFW                  609           136.0
3              BNA                 LAX                  645           288.0
4              BOS                 ORD                  701           184.0
5              BNA                 DFW                  730           139.0
6              DCA                 DFW                  734           221.0
7              DFW                 MEM                  800            85.0
8              BNA                 DFW                  825           135.0
9              DCA                 DFW                  844           231.0
10             DFW                 BNA                  855           100.0
11             STL                 DFW                  901           117.0
12             BNA                 DFW                  920           130.0
13             MEM                 DFW                 1005           100.0
14             DFW                 BNA                 1055           100.0
15             BNA                 DFW                 1115           129.0
16             DFW                 SDF                 1130           114.0
17             LAX                 BNA                 1145           231.0
18             LAX                 DCA                 1225           289.0
19             DFW                 BNA                 1305           100.0
20             MIA                 CLT                 1315           129.0
21             BNA                 DFW                 1315           128.0
22             DFW                 MEM                 1400            83.0
23             DFW                 CLT                 1455           140.0
24             SDF                 DFW                 1509           141.0
25             BNA                 DFW                 1525           129.0
26             DFW                 BNA                 1545           100.0
27             MEM                 DFW                 1605           107.0
28             CLT                 ORD                 1615           129.0
29             DFW                 DCA                 1655           159.0
..             ...                 ...                  ...             ...
435            HOU                 DFW                 1109            71.0
436            IAH                 DFW                 1125            74.0
437            MSP                 DFW                 1146           159.0
438            TUS                 DFW                 1157           128.0
439            ORD                 LGA                 1225           119.0
440            CLE                 DFW                 1307           188.0
441            BWI                 DFW                 1406           219.0
442            SAN                 DFW                 1421           174.0
443            LGA                 DFW                 1459           259.0
444            SMF                 DFW                 1501           199.0
445            MCO                 DFW                 1510           178.0
446            ABQ                 DFW                 1535           103.0
447            SEA                 DFW                 1551           219.0
448            LGA                 ORD                 1611           174.0
449            STL                 DFW                 1624           116.0
450            ATL                 DFW                 1644           151.0
451            AUS                 DFW                 1703            67.0
452            RSW                 DFW                 1730           185.0
453            DAY                 DFW                 1734           166.0
454            DCA                 DFW                 1745           216.0
455            PHX                 DFW                 1750           132.0
456            SNA                 DFW                 1750           164.0
457            JAX                 DFW                 1822           173.0
458            EWR                 DFW                 1844           250.0
459            LAS                 DFW                 1905           153.0
460            SAT                 DFW                 1906            69.0
461            MCI                 DFW                 1920           100.0
462            MSY                 DFW                 1942            98.0
463            ORD                 DCA                 2045           103.0
464            DFW                 SAT                 2250            62.0

     DISTANCE  SCHEDULED_ARRIVAL  DIVERTED  CANCELLED
0        1562                929         0          1
1         187                722         0          1
2         631                825         0          1
3        1797                933         0          1
4         867                905         0          1
5         631                949         0          1
6        1192               1015         0          1
7         432                925         0          1
8         631               1040         0          1
9        1192               1135         0          1
10        631               1035         0          1
11        550               1058         0          1
12        631               1130         0          1
13        432               1145         0          1
14        631               1235         0          1
15        631               1324         0          1
16        733               1424         0          1
17       1797               1736         0          1
18       2311               2014         0          1
19        631               1445         0          1
20        650               1524         0          1
21        631               1523         0          1
22        432               1523         0          1
23        936               1815         0          1
24        733               1630         0          1
25        631               1734         0          1
26        631               1725         0          1
27        432               1752         0          1
28        599               1724         0          1
29       1192               2034         0          1
..        ...                ...       ...        ...
435       247               1220         0          1
436       224               1239         0          1
437       852               1425         0          1
438       813               1505         0          1
439       733               1524         0          1
440      1021               1515         0          1
441      1217               1645         0          1
442      1171               1915         0          1
443      1389               1818         0          1
444      1431               2020         0          1
445       985               1708         0          1
446       569               1818         0          1
447      1660               2130         0          1
448       733               1805         0          1
449       550               1820         0          1
450       731               1815         0          1
451       190               1810         0          1
452      1017               1935         0          1
453       861               1920         0          1
454      1192               2021         0          1
455       868               2102         0          1
456      1205               2234         0          1
457       918               2015         0          1
458      1372               2154         0          1
459      1055               2338         0          1
460       247               2015         0          1
461       460               2100         0          1
462       447               2120         0          1
463       612               2328         0          1
464       247               2352         0          1

[465 rows x 15 columns]
     YEAR  MONTH  DAY  DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER  \
0    2015      2   16            1      DL           1780      N967DL
1    2015      2   16            1      DL           2079      N329NW
2    2015      2   16            1      DL            750      N892AT
3    2015      2   16            1      DL           1481      N956DL
4    2015      2   16            1      DL           1504      N995DL
5    2015      2   16            1      DL           1540      N962DL
6    2015      2   16            1      DL           2099      N917DL
7    2015      2   16            1      DL           2665      N896AT
8    2015      2   16            1      DL           2666      N954AT
9    2015      2   16            1      DL            809      N318NB
10   2015      2   16            1      DL           1324      N937AT
11   2015      2   16            1      DL           1268      N359NW
12   2015      2   16            1      DL           2699      N607AT
13   2015      2   16            1      DL           2083      N652DL
14   2015      2   16            1      DL           2667      N891AT
15   2015      2   16            1      DL           2668      N924AT
16   2015      2   16            1      DL           1614      N998DL
17   2015      2   16            1      DL             95      N365NB
18   2015      2   16            1      DL            819      N330NW
19   2015      2   16            1      DL           2441      N960AT
20   2015      2   16            1      DL           2062      N364NB
21   2015      2   16            1      DL           2589      N916DE
22   2015      2   16            1      DL           2531      N374DA
23   2015      2   16            1      DL           1424      N938AT
24   2015      2   16            1      DL            189      N301NB
25   2015      2   16            1      DL           1480      N924AT
26   2015      2   16            1      DL           1913      N951DL
27   2015      2   16            1      DL           2418      N960AT
28   2015      2   16            1      DL           2589      N916DE
29   2015      2   16            1      DL           2434       N3767
..    ...    ...  ...          ...     ...            ...         ...
445  2015      2   24            2      DL           2656      N960AT
446  2015      2   24            2      DL           2091      N903DA
447  2015      2   24            2      DL           1310      N909DE
448  2015      2   24            2      DL           1391      N937AT
449  2015      2   24            2      DL           2180      N912DL
450  2015      2   24            2      DL           2505      N934AT
451  2015      2   24            2      DL           1550      N906DL
452  2015      2   24            2      DL           1790      N550NW
453  2015      2   24            2      DL           1699      N947DL
454  2015      2   24            2      DL           1401      N663DN
455  2015      2   24            2      DL           1412      N937DL
456  2015      2   24            2      DL           2173      N951DL
457  2015      2   24            2      DL           1693      N924AT
458  2015      2   24            2      DL           1803      N941DL
459  2015      2   24            2      DL           1341      N964DL
460  2015      2   24            2      DL           1564      N915DN
461  2015      2   24            2      DL           2528      N948DL
462  2015      2   24            2      DL           1803      N941DL
463  2015      2   24            2      DL           2472      N910AT
464  2015      2   24            2      DL           1077      N990DL
465  2015      2   24            2      DL           2533      N989AT
466  2015      2   24            2      DL           1564      N915DN
467  2015      2   24            2      DL           1666      N821DN
468  2015      2   24            2      DL           2472      N910AT
469  2015      2   24            2      DL           1077      N990DL
470  2015      2   24            2      DL           1774      N944DL
471  2015      2   24            2      DL           2533      N989AT
472  2015      2   24            2      DL           1666      N821DN
473  2015      2   24            2      DL           1774      N944DL
474  2015      2   24            2      DL           2409      N910AT

    ORIGIN_AIRPORT DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  SCHEDULED_TIME  \
0              BNA                 ATL                  525            70.0
1              BOS                 DTW                  545           134.0
2              BOS                 JFK                  600            80.0
3              LIT                 ATL                  600            95.0
4              XNA                 ATL                  600           107.0
5              OKC                 ATL                  600           131.0
6              SDF                 ATL                  600            90.0
7              BOS                 LGA                  600            79.0
8              LGA                 BOS                  600            66.0
9              BOS                 MSP                  605           205.0
10             BNA                 ATL                  625            74.0
11             BNA                 DTW                  630            96.0
12             BOS                 LGA                  630            82.0
13             BOS                 SLC                  645           338.0
14             BOS                 LGA                  700            79.0
15             LGA                 BOS                  700            72.0
16             LIT                 ATL                  710            99.0
17             BNA                 ATL                  800            74.0
18             BOS                 MSP                  805           204.0
19             ATL                 MEM                  810            87.0
20             JFK                 AUS                  815           279.0
21             ATL                 BNA                  826            68.0
22             BOS                 LAX                  830           404.0
23             DTW                 BNA                  841           102.0
24             BOS                 DTW                  845           140.0




### Tweet Data (Natalie)

MK NOTES
1. Use Group By & Filtering to Create Data Frames of Positive/Negative/Neutral Tweets for Each Airline (AIRLINE CODE MUST BE IN EACH DATAFRAME)

In [ ]:
#ADD CODE HERE

## Data Loading (Matt)

MK Notes
1. Create ERD for Completed Database
2. Create Database in PGAdmin
3. Use SQL Alchemy to Load Dataframes into Tables & Relate by Keys

In [ ]:
#ADD CODE HERE

# Project Analysis

## Data Extraction

### Flight Data (Myles & Sedra)

ADD TEXT HERE

### Tweet Data (Natalie)

ADD TEXT HERE

## Data Transformation

### Flight Data (Myles & Sedra)

ADD TEXT HERE

### Tweet Data (Natalie)

ADD TEXT HERE

## Data Loading (Matt)

ADD TEXT HERE