# Project Proposal (Matt)

ADD TEXT HERE

# Project Code

## Data Extraction

### Flight Data (Myles & Sedra)

MK NOTES
1. Flight Data - Columns to Drop: 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'
2. Flight Data - Only Keep Rows with Following Airline Codes: 'UA', 'AA', 'US', 'WN', 'DL', 'VX'
3. Flight Data - Add Column for Total Delay (Add Together Departure & Arrival Delay Values)
4. Flight Data - Combine Date Value Columns into Single Date Column
5. Airline Data - Only Keep Rows with Following Airline Codes: 'UA', 'AA', 'US', 'WN', 'DL', 'VX'
6. Airport Data - Columns to Drop: 'LATITUDE', 'LONGITUDE'

In [1]:
#Import Modules
import os
import pandas as pd
import numpy as np
import datetime

In [2]:
flight_path = "Flight data/flights.csv"
airline_path = "Flight data/airlines.csv"
airport_path = "Flight data/airports.csv"

In [3]:
flights_pd = pd.read_csv(flight_path)
flights_pd.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,2,1,7,AA,2400,N3JKAA,LAX,DFW,5,...,452.0,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,2,1,7,AS,98,N794AS,ANC,SEA,5,...,501.0,32.0,0,0,NaN,3.0,0.0,29.0,0.0,0.0
2,2015,2,1,7,AA,258,N3FEAA,LAX,MIA,20,...,849.0,45.0,0,0,NaN,45.0,0.0,0.0,0.0,0.0
3,2015,2,1,7,DL,806,N962DN,SFO,MSP,20,...,548.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,2,1,7,NK,612,N604NK,LAS,MSP,25,...,515.0,-11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
airport_pd = pd.read_csv(airport_path)
airport_pd.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [5]:
airline_pd = pd.read_csv(airline_path)
airline_pd.head()

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

In [6]:
update1_flights = flights_pd.drop(columns=['CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'])
update1_flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED
0,2015,2,1,7,AA,2400,N3JKAA,LAX,DFW,5,...,170.0,150.0,1235,447.0,5.0,454,452.0,-2.0,0,0
1,2015,2,1,7,AS,98,N794AS,ANC,SEA,5,...,207.0,190.0,1448,454.0,7.0,429,501.0,32.0,0,0
2,2015,2,1,7,AA,258,N3FEAA,LAX,MIA,20,...,339.0,258.0,2342,836.0,13.0,804,849.0,45.0,0,0
3,2015,2,1,7,DL,806,N962DN,SFO,MSP,20,...,216.0,192.0,1589,538.0,10.0,600,548.0,-12.0,0,0
4,2015,2,1,7,NK,612,N604NK,LAS,MSP,25,...,179.0,164.0,1299,511.0,4.0,526,515.0,-11.0,0,0

In [7]:
update1_flights['Total Delay'] = update1_flights['SCHEDULED_DEPARTURE'] + update1_flights['ARRIVAL_DELAY']
update1_flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,Total Delay
0,2015,2,1,7,AA,2400,N3JKAA,LAX,DFW,5,...,150.0,1235,447.0,5.0,454,452.0,-2.0,0,0,3.0
1,2015,2,1,7,AS,98,N794AS,ANC,SEA,5,...,190.0,1448,454.0,7.0,429,501.0,32.0,0,0,37.0
2,2015,2,1,7,AA,258,N3FEAA,LAX,MIA,20,...,258.0,2342,836.0,13.0,804,849.0,45.0,0,0,65.0
3,2015,2,1,7,DL,806,N962DN,SFO,MSP,20,...,192.0,1589,538.0,10.0,600,548.0,-12.0,0,0,8.0
4,2015,2,1,7,NK,612,N604NK,LAS,MSP,25,...,164.0,1299,511.0,4.0,526,515.0,-11.0,0,0,14.0

In [8]:
update3 = update1_flights[(update1_flights['DAY'] >= 16) & (update1_flights['DAY'] <= 24)]
update3.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,Total Delay
225468,2015,2,16,1,AA,2400,N5ESAA,LAX,DFW,5,...,147.0,1235,443.0,6.0,453,449.0,-4.0,0,0,1.0
225469,2015,2,16,1,DL,1745,N365NW,SMF,MSP,5,...,183.0,1517,511.0,3.0,529,514.0,-15.0,0,0,-10.0
225470,2015,2,16,1,DL,2579,N693DL,DEN,ATL,15,...,135.0,1199,524.0,11.0,511,535.0,24.0,0,0,39.0
225471,2015,2,16,1,US,2020,N917US,PHX,CLT,15,...,186.0,1773,531.0,10.0,600,541.0,-19.0,0,0,-4.0
225472,2015,2,16,1,AA,258,N3DEAA,LAX,MIA,20,...,254.0,2342,750.0,8.0,804,758.0,-6.0,0,0,14.0

In [9]:
update3['DATE'] = update3['YEAR'].astype(str) + '-0' + update3['MONTH'].astype(str) + '-' + update3['DAY'].astype(str)
update4 = update3.drop(['YEAR', 'MONTH', 'DAY'], axis = 1)
update4.head()

C:\Users\sedra\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,...,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,Total Delay,DATE
225468,1,AA,2400,N5ESAA,LAX,DFW,5,3.0,-2.0,13.0,...,1235,443.0,6.0,453,449.0,-4.0,0,0,1.0,2015-02-16
225469,1,DL,1745,N365NW,SMF,MSP,5,2359.0,-6.0,9.0,...,1517,511.0,3.0,529,514.0,-15.0,0,0,-10.0,2015-02-16
225470,1,DL,2579,N693DL,DEN,ATL,15,20.0,5.0,49.0,...,1199,524.0,11.0,511,535.0,24.0,0,0,39.0,2015-02-16
225471,1,US,2020,N917US,PHX,CLT,15,13.0,-2.0,12.0,...,1773,531.0,10.0,600,541.0,-19.0,0,0,-4.0,2015-02-16
225472,1,AA,258,N3DEAA,LAX,MIA,20,20.0,0.0,16.0,...,2342,750.0,8.0,804,758.0,-6.0,0,0,14.0,2015-02-16

In [10]:
#Flight Data - Only Keep Rows with Following Airline Codes: 'UA', 'AA', 'US', 'WN', 'DL', 'VX'
array = ['UA', 'AA', 'US', 'WN', 'DL', 'VX']
update5 = update4.loc[update4['AIRLINE'].isin(array)]
update5.head()

,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,...,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,Total Delay,DATE
225468,1,AA,2400,N5ESAA,LAX,DFW,5,3.0,-2.0,13.0,...,1235,443.0,6.0,453,449.0,-4.0,0,0,1.0,2015-02-16
225469,1,DL,1745,N365NW,SMF,MSP,5,2359.0,-6.0,9.0,...,1517,511.0,3.0,529,514.0,-15.0,0,0,-10.0,2015-02-16
225470,1,DL,2579,N693DL,DEN,ATL,15,20.0,5.0,49.0,...,1199,524.0,11.0,511,535.0,24.0,0,0,39.0,2015-02-16
225471,1,US,2020,N917US,PHX,CLT,15,13.0,-2.0,12.0,...,1773,531.0,10.0,600,541.0,-19.0,0,0,-4.0,2015-02-16
225472,1,AA,258,N3DEAA,LAX,MIA,20,20.0,0.0,16.0,...,2342,750.0,8.0,804,758.0,-6.0,0,0,14.0,2015-02-16

In [11]:
#calculations of early arrivals
earlyarrivals = update5[update5['Total Delay']<=0]

scheduled_arrival = []

for item in earlyarrivals['SCHEDULED_ARRIVAL'].astype(int):
    if item == 2400:
        scheduled_arrival.append(datetime.datetime.strptime('0000', '%H%M').strftime('%H:%M'))
    elif item >= 1000:
        scheduled_arrival.append(datetime.datetime.strptime(str(item), '%H%M').strftime('%H:%M'))
    elif item >= 100 and item <= 999:
        scheduled_arrival.append(datetime.datetime.strptime('0' + str(item), '%H%M').strftime('%H:%M'))
    elif item >= 10 and item <= 99:
          scheduled_arrival.append(datetime.datetime.strptime('00' + str(item), '%H%M').strftime('%H:%M'))
    elif item <= 9:
        scheduled_arrival.append(datetime.datetime.strptime('000' + str(item), '%H%M').strftime('%H:%M'))
        
earlyarrivals['SCHEDULED_ARRIVAL'] = scheduled_arrival


#early (Scheduled) departures
earlydeparture = update5[update5['Total Delay']<=0]

scheduled_departure = []

for item in earlydeparture['SCHEDULED_DEPARTURE'].astype(int):
    if item == 2400:
        scheduled_departure.append(datetime.datetime.strptime('0000', '%H%M').strftime('%H:%M'))
    elif item >= 1000:
        scheduled_departure.append(datetime.datetime.strptime(str(item), '%H%M').strftime('%H:%M'))
    elif item >= 100 and item <= 999:
        scheduled_departure.append(datetime.datetime.strptime('0' + str(item), '%H%M').strftime('%H:%M'))
    elif item >= 10 and item <= 99:
        scheduled_departure.append(datetime.datetime.strptime('00' + str(item), '%H%M').strftime('%H:%M'))
    elif item <= 9:
        scheduled_departure.append(datetime.datetime.strptime('000' + str(item), '%H%M').strftime('%H:%M'))
        
earlydeparture['SCHEDULED_DEPARTURE'] = scheduled_departure


#early departure times
EARLYDEPARTURETIME = update5[update5['Total Delay']<=0]

departure_time = []

for item in earlydeparture['DEPARTURE_TIME'].astype(int):
    if item == 2400:
        departure_time.append(datetime.datetime.strptime('0000', '%H%M').strftime('%H:%M'))
    elif item >= 1000:
        departure_time.append(datetime.datetime.strptime(str(item), '%H%M').strftime('%H:%M'))
    elif item >= 100 and item <= 999:
        departure_time.append(datetime.datetime.strptime('0' + str(item), '%H%M').strftime('%H:%M'))
    elif item >= 10 and item <= 99:
          departure_time.append(datetime.datetime.strptime('00' + str(item), '%H%M').strftime('%H:%M'))
    elif item <= 9:
        departure_time.append(datetime.datetime.strptime('000' + str(item), '%H%M').strftime('%H:%M'))
        
EARLYDEPARTURETIME['DEPARTURE_TIME'] = departure_time


#early arrival times
EARLYARRIVALTIME = update5[update5['Total Delay']<=0]

arrival_time = []

for item in EARLYARRIVALTIME['ARRIVAL_TIME'].astype(int):
    if item == 2400:
        arrival_time.append(datetime.datetime.strptime('0000', '%H%M').strftime('%H:%M'))
    elif item >= 1000:
        arrival_time.append(datetime.datetime.strptime(str(item), '%H%M').strftime('%H:%M'))
    elif item >= 100 and item <= 999:
        arrival_time.append(datetime.datetime.strptime('0' + str(item), '%H%M').strftime('%H:%M'))
    elif item >= 10 and item <= 99:
        arrival_time.append(datetime.datetime.strptime('00' + str(item), '%H%M').strftime('%H:%M'))
    elif item <= 9:
        arrival_time.append(datetime.datetime.strptime('000' + str(item), '%H%M').strftime('%H:%M'))
        
EARLYARRIVALTIME['ARRIVAL_TIME'] = arrival_time


#early wheels off
EARLYWHEELSOFF = update5[update5['Total Delay']<=0]

wheels_off = []

for item in EARLYWHEELSOFF['WHEELS_OFF'].astype(int):
    if item == 2400:
        wheels_off.append(datetime.datetime.strptime('0000', '%H%M').strftime('%H:%M'))
    elif item >= 1000:
        wheels_off.append(datetime.datetime.strptime(str(item), '%H%M').strftime('%H:%M'))
    elif item >= 100 and item <= 999:
        wheels_off.append(datetime.datetime.strptime('0' + str(item), '%H%M').strftime('%H:%M'))
    elif item >= 10 and item <= 99:
        wheels_off.append(datetime.datetime.strptime('00' + str(item), '%H%M').strftime('%H:%M'))
    elif item <= 9:
        wheels_off.append(datetime.datetime.strptime('000' + str(item), '%H%M').strftime('%H:%M'))
        
EARLYWHEELSOFF['WHEELS_OFF'] = wheels_off

#EARLY "WHEELS ON"
EARLYWHEELSON = update5[update5['Total Delay']<=0]

wheels_on = []

for item in EARLYWHEELSON['WHEELS_ON'].astype(int):
    if item == 2400:
        wheels_on.append(datetime.datetime.strptime('0000', '%H%M').strftime('%H:%M'))
    elif item >= 1000:
        wheels_on.append(datetime.datetime.strptime(str(item), '%H%M').strftime('%H:%M'))
    elif item >= 100 and item <= 999:
        wheels_on.append(datetime.datetime.strptime('0' + str(item), '%H%M').strftime('%H:%M'))
    elif item >= 10 and item <= 99:
        wheels_on.append(datetime.datetime.strptime('00' + str(item), '%H%M').strftime('%H:%M'))
    elif item <= 9:
        wheels_on.append(datetime.datetime.strptime('000' + str(item), '%H%M').strftime('%H:%M'))
        
EARLYWHEELSON['WHEELS_ON'] = wheels_on


#idk

departure_delay = []
arrival_delay = []
total_delay = []

for item in earlyarrivals['DEPARTURE_DELAY'].astype(int):
    if item < 0:
        departure_delay.append('-' + str(datetime.timedelta(minutes = (-1 * item)))[:-3])
    else:
        departure_delay.append(str(datetime.timedelta(minutes = item))[:-3])
        
for item in earlyarrivals['ARRIVAL_DELAY'].astype(int):
    if item < 0:
        arrival_delay.append('-' + str(datetime.timedelta(minutes = (-1 * item)))[:-3])
    else:
        arrival_delay.append(str(datetime.timedelta(minutes = item))[:-3])
        
for item in earlyarrivals['Total Delay'].astype(int):
    if item < 0:
        total_delay.append('-' + str(datetime.timedelta(minutes = (-1 * item)))[:-3])
    else:
        total_delay.append(str(datetime.timedelta(minutes = item))[:-3])
        
earlyarrivals['DEPARTURE_DELAY'] = departure_delay
earlyarrivals['ARRIVAL_DELAY'] = arrival_delay
earlyarrivals['TOTAL_DELAY'] = total_delay

'TAXI_OUT', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'TAXI_IN'


taxi_out = []
scheduled_time = []
elapsed_time = []
air_time = []
taxi_in = []

for item in earlyarrivals['TAXI_OUT'].astype(int):
        taxi_out.append(str(datetime.timedelta(minutes = item))[:-3])

for item in earlyarrivals['SCHEDULED_TIME'].astype(int):
        scheduled_time.append(str(datetime.timedelta(minutes = item))[:-3])
        
for item in earlyarrivals['ELAPSED_TIME'].astype(int):
        elapsed_time.append(str(datetime.timedelta(minutes = item))[:-3])
        
for item in earlyarrivals['AIR_TIME'].astype(int):
        air_time.append(str(datetime.timedelta(minutes = item))[:-3])
        
for item in earlyarrivals['TAXI_IN'].astype(int):
        taxi_in.append(str(datetime.timedelta(minutes = item))[:-3])
        
earlyarrivals['TAXI_OUT'] = taxi_out
earlyarrivals['SCHEDULED_TIME'] = scheduled_time
earlyarrivals['ELAPSED_TIME'] = elapsed_time
earlyarrivals['AIR_TIME'] = air_time
earlyarrivals['TAXI_IN'] = taxi_in

C:\Users\sedra\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\sedra\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\sedra\Anaconda3\lib\site-packages\ipykernel_launcher.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\sedra\Anaconda3\lib\site-packages\ipykernel_launcher.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\sedra\Anaconda3\lib\site-packages\ipykernel_launcher.py:98: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\sedra\Anaconda3\lib\site-packages\ipykernel_launcher.py:117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\sedra\Anaconda3\lib\site-packages\ipykernel_launcher.py:144: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\sedra\Anaconda3\lib\site-packages\ipykernel_launcher.py:145: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\sedra\Anaconda3\lib\site-packages\ipykernel_launcher.py:146: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\sedra\Anaconda3\lib\site-packages\ipykernel_launcher.py:172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\sedra\Anaconda3\lib\site-packages\ipykernel_launcher.py:173: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\sedra\Anaconda3\lib\site-packages\ipykernel_launcher.py:174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\sedra\Anaconda3\lib\site-packages\ipykernel_launcher.py:175: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\sedra\Anaconda3\lib\site-packages\ipykernel_launcher.py:176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
diverted_df = update5[update5['DIVERTED']==1]
diverted_df.head()

,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,...,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,Total Delay,DATE
229537,1,AA,74,N436AA,DFW,HOU,920,927.0,7.0,17.0,...,247,1248.0,4.0,1026,1252.0,NaN,1,0,NaN,2015-02-16
230323,1,WN,1150,N7747C,BWI,MCO,1005,1022.0,17.0,9.0,...,787,1536.0,7.0,1240,1543.0,NaN,1,0,NaN,2015-02-16
230413,1,WN,947,N771SA,PHX,LIT,1010,1009.0,-1.0,26.0,...,1136,NaN,NaN,1350,NaN,NaN,1,0,NaN,2015-02-16
231311,1,AA,1672,N4YEAA,LAX,AUS,1105,504.0,1079.0,14.0,...,1242,NaN,NaN,1602,NaN,NaN,1,0,NaN,2015-02-16
231471,1,DL,1097,N397DA,LAX,RDU,1115,1114.0,-1.0,14.0,...,2239,NaN,NaN,1855,NaN,NaN,1,0,NaN,2015-02-16

In [13]:
diverted_df2 = diverted_df.drop(columns =['ARRIVAL_TIME','ARRIVAL_DELAY','TAXI_IN','WHEELS_ON','AIR_TIME','DEPARTURE_TIME','Total Delay','ELAPSED_TIME','WHEELS_OFF','TAXI_OUT','DEPARTURE_DELAY'])
diverted_df2
diverted_df3 = diverted_df2.dropna()
diverted_df3.head()

,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,SCHEDULED_TIME,DISTANCE,SCHEDULED_ARRIVAL,DIVERTED,CANCELLED,DATE
229537,1,AA,74,N436AA,DFW,HOU,920,66.0,247,1026,1,0,2015-02-16
230323,1,WN,1150,N7747C,BWI,MCO,1005,155.0,787,1240,1,0,2015-02-16
230413,1,WN,947,N771SA,PHX,LIT,1010,160.0,1136,1350,1,0,2015-02-16
231311,1,AA,1672,N4YEAA,LAX,AUS,1105,177.0,1242,1602,1,0,2015-02-16
231471,1,DL,1097,N397DA,LAX,RDU,1115,280.0,2239,1855,1,0,2015-02-16

### Tweet Data (Natalie)

MK NOTES
1. Columns to Drop: 'negativereason', 'negativereason_confidence', 'airline_sentiment_gold', 'negativereason_gold', 'tweet_coord', 'tweet_location', 'user_timezone'
2. Convert Date Column to Only Include Date & Not Time
3. Convert Airline Name to Airline Code

In [14]:
#ADD CODE HERE

## Data Transformation

### Flight Data (Myles & Sedra)

MK NOTES
1. Airport Data - No Changes
2. Airline Data - No Changes
3. Flight Data - Use Group By & Filtering to Create Individual Data Frames for Delayed/Early/Cancelled/Diverted Flights for Each Airline (AIRLINE CODE MUST BE IN EACH DATAFRAME)

In [18]:
#Early Loops
early_group = earlyarrivals.groupby(['AIRLINE'])
for name, group in early_group:
    if name == 'UA':
        UA_early = pd.DataFrame(group)
        UA_early= UA_early.reset_index().drop(['index'], axis = 1)
    elif name == 'AA':
        AA_early = pd.DataFrame(group)
        AA_early = AA_early.reset_index().drop(['index'],axis = 1)
    elif name == 'DL':
        DL_early = pd.DataFrame(group)
        DL_early = DL_early.reset_index().drop(['index'],axis = 1)
    elif name == 'US':
        US_early = pd.DataFrame(group)
        US_early = US_early.reset_index().drop(['index'],axis = 1)
    elif name =='WN':
        WN_early = pd.DataFrame(group)
        WN_early = WN_early.reset_index().drop(['index'],axis = 1)
    elif name == 'VX':
        VX_early = pd.DataFrame(group)
        VX_early = VX_early.reset_index().drop(['index'],axis = 1)
print(UA_early)
print(AA_early)
print(DL_early)
print(US_early)
print(WN_early)

       DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER ORIGIN_AIRPORT  \
0                1      UA           1512      N33292            LAS
1                1      UA           1200      N68805            SFO
2                1      UA           1496      N17245            LAX
3                1      UA           1204      N37273            SJU
4                1      UA           1162      N37287            BQN
5                1      UA            288      N424UA            EWR
6                1      UA            260      N435UA            ORD
7                1      UA            606      N807UA            MSY
8                1      UA           1447      N27733            PHL
9                1      UA           1573      N11206            SEA
10               1      UA           1545      N17233            DFW
11               1      UA            572      N842UA            AUS
12               1      UA           1215      N69830            PDX
13               1      UA            398      N846UA            SAT
14               1      UA            707      N444UA            ORD
15               1      UA            250      N492UA            SEA
16               1      UA            756      N489UA            SFO
17               1      UA           1203      N33209            BOS
18               1      UA           1603      N66831            RSW
19               1      UA           1543      N54241            SMF
20               1      UA            848      N491UA            LAX
21               1      UA           1101      N38268            SEA
22               1      UA           1167      N14704            DCA
23               1      UA           1434      N38257            LGA
24               1      UA            538      N430UA            GEG
25               1      UA           1264      N24211            PBI
26               1      UA           1612      N33203            TPA
27               1      UA            635      N817UA            LGA
28               1      UA            636      N412UA            DFW
29               1      UA            641      N830UA            SFO
...            ...     ...            ...         ...            ...
12169            2      UA           1278      N76254            SFO
12170            2      UA            263      N478UA            LAX
12171            2      UA           1205      N68453            LAX
12172            2      UA           1728      N38459            SFO
12173            2      UA            633      N669UA            SFO
12174            2      UA           1153      N36472            LAX
12175            2      UA           1416      N68811            SFO
12176            2      UA           1562      N69806            SFO
12177            2      UA           1581      N14219            SFO
12178            2      UA           1191      N24224            LAX
12179            2      UA           1493      N76522            SFO
12180            2      UA           1254      N87507            SFO
12181            2      UA           1617      N66841            SEA
12182            2      UA            326      N428UA            IAH
12183            2      UA            383      N212UA            HNL
12184            2      UA            659      N836UA            IAH
12185            2      UA           1569      N37427            LAX
12186            2      UA           1716      N37437            LAX
12187            2      UA           1651      N37267            LAS
12188            2      UA           1576      N37255            SFO
12189            2      UA           1251      N36444            LAX
12190            2      UA            726      N420UA            SFO
12191            2      UA           1676      N87512            LAX
12192            2      UA            380      N522UA            SFO
12193            2      UA           1720      N76519            PHX
12194            2      UA           1557      N75426            LAX
12195            2      UA           1604      N37293            HNL
12196            2      UA           1104      N33294            ANC
12197            2      UA           1130      N77530            SEA
12198            2      UA           1159      N23708            DEN

      DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  DEPARTURE_TIME  \
0                     IAH                   38            42.0
1                     IAH                   45            39.0
2                     IAH                   46            48.0
3                     EWR                  148           311.0
4                     EWR                  255           253.0
5                     IAH                  500           501.0
6                     IAH                  510           511.0
7                     IAH                  515           508.0
8                     IAH                  515           519.0
9                     SFO                  520           519.0
10                    IAH                  530           536.0
11                    IAH                  530           534.0
12                    DEN                  535           545.0
13                    IAH                  535           533.0
14                    DEN                  536           531.0
15                    DEN                  537           525.0
16                    DEN                  540           537.0
17                    IAD                  540           600.0
18                    IAH                  540           543.0
19                    DEN                  541           551.0
20                    DEN                  542           539.0
21                    IAH                  545           536.0
22                    IAH                  545           549.0
23                    IAH                  545           544.0
24                    DEN                  545           619.0
25                    EWR                  550           601.0
26                    EWR                  550           556.0
27                    ORD                  600           605.0
28                    ORD                  600           555.0
29                    LAX                  600           603.0
...                   ...                  ...             ...
12169                 LAX                 2230          2221.0
12170                 SFO                 2232          2224.0
12171                 LAS                 2234          2234.0
12172                 BOS                 2235          2248.0
12173                 IAD                 2235          2231.0
12174                 EWR                 2235          2247.0
12175                 EWR                 2235          2233.0
12176                 BWI                 2235          2239.0
12177                 SEA                 2239          2246.0
12178                 BOS                 2240          2235.0
12179                 PDX                 2240          2243.0
12180                 ORD                 2250          2251.0
12181                 ORD                 2253          2249.0
12182                 SAT                 2255          2255.0
12183                 DEN                 2255          2300.0
12184                 AUS                 2255          2250.0
12185                 ORD                 2304          2303.0
12186                 CLE                 2305          2301.0
12187                 CLE                 2305          2252.0
12188                 IAD                 2317          2311.0
12189                 IAD                 2325          2327.0
12190                 EWR                 2336          2333.0
12191                 ORD                 2339          2334.0
12192                 ORD                 2342          2341.0
12193                 EWR                 2350            12.0
12194                 EWR                 2353          2347.0
12195                 SFO                 2353          2353.0
12196                 DEN                 2357          2350.0
12197                 IAH                 2359             2.0
12198                 IAD                 2359             3.0

       DEPARTURE_DELAY  TAXI_OUT  ...  DISTANCE  WHEELS_ON  TAXI_IN  \
0                  4.0      17.0  ...      1222      517.0      5.0
1                 -6.0      11.0  ...      1635      558.0      6.0
2                  2.0      14.0  ...      1379      539.0      7.0
3                 83.0      13.0  ...      1608      615.0     12.0
4                 -2.0      17.0  ...      1585      547.0      9.0
5                  1.0      16.0  ...      1400      754.0      9.0
6                  1.0      12.0  ...       925      749.0      5.0
7                 -7.0       9.0  ...       305      609.0      5.0
8                  4.0       9.0  ...      1325      759.0      7.0
9                 -1.0       9.0  ...       679      701.0     21.0
10                 6.0      13.0  ...       224      636.0      4.0
11                 4.0      11.0  ...       140      619.0      6.0
12                10.0       7.0  ...       991      903.0     12.0
13                -2.0      10.0  ...       191      622.0     10.0
14                -5.0      14.0  ...       888      700.0      4.0
15               -12.0      14.0  ...      1024      846.0     10.0
16                -3.0      11.0  ...       967      905.0      6.0
17                20.0      14.0  ...       413      734.0      5.0
18                 3.0      11.0  ...       861      709.0      6.0
19                10.0      11.0  ...       909      909.0     13.0
20                -3.0      41.0  ...       862      926.0      6.0
21                -9.0      12.0  ...      1874     1122.0      8.0
22                 4.0       8.0  ...      1208      807.0      5.0
23                -1.0      16.0  ...      1416      847.0      8.0
24                34.0      24.0  ...       836      933.0     11.0
25                11.0      12.0  ...      1023      839.0      9.0
26                 6.0      15.0  ...       997      828.0      4.0
27                 5.0      15.0  ...       733      726.0      3.0
28                -5.0      13.0  ...       802      744.0     12.0
29                 3.0      18.0  ...       337      718.0      4.0
...                ...       ...  ...       ...        ...      ...
12169             -9.0      14.0  ...       337     2324.0     12.0
12170             -8.0      10.0  ...       337     2326.0     11.0
12171              0.0      14.0  ...       236     2329.0      5.0
12172             13.0      17.0  ...      2704      705.0     13.0
12173             -4.0      30.0  ...      2419      629.0      3.0
12174             12.0      15.0  ...      2454      633.0     11.0
12175             -2.0      23.0  ...      2565      640.0      8.0
12176              4.0      20.0  ...      2457      630.0      6.0
12177              7.0      23.0  ...       679       49.0      4.0
12178             -5.0      18.0  ...      2611      655.0     10.0
12179              3.0      20.0  ...       550       28.0      4.0
12180              1.0      20.0  ...      1846      438.0      5.0
12181             -4.0      13.0  ...      1721      418.0      9.0
12182              0.0      21.0  ...       191     2353.0      3.0
12183              5.0      20.0  ...      3365      830.0      6.0
12184             -5.0      11.0  ...       140     2333.0      4.0
12185             -1.0      11.0  ...      1744      445.0      6.0
12186             -4.0      11.0  ...      2052      611.0      8.0
12187            -13.0      12.0  ...      1824      533.0      7.0
12188             -6.0      12.0  ...      2419      650.0      7.0
12189              2.0      11.0  ...      2288      656.0      5.0
12190             -3.0      14.0  ...      2565      728.0      5.0
12191             -5.0      10.0  ...      1744      508.0      4.0
12192             -1.0      18.0  ...      1846      527.0      6.0
12193             22.0      16.0  ...      2133      619.0     12.0
12194             -6.0      16.0  ...      2454      735.0      9.0
12195              0.0      16.0  ...      2398      658.0      9.0
12196             -7.0      11.0  ...      2405      633.0      8.0
12197              3.0      16.0  ...      1874      555.0      9.0
12198              4.0      13.0  ...      1452      457.0     10.0

       SCHEDULED_ARRIVAL  ARRIVAL_TIME  ARRIVAL_DELAY  DIVERTED  CANCELLED  \
0                    523         522.0           -1.0         0          0
1                    617         604.0          -13.0         0          0
2                    554         546.0           -8.0         0          0
3                    503         627.0           84.0         0          0
4                    555         556.0            1.0         0          0
5                    804         803.0           -1.0         0          0
6                    805         754.0          -11.0         0          0
7                    632         614.0          -18.0         0          0
8                    808         806.0           -2.0         0          0
9                    730         722.0           -8.0         0          0
10                   640         640.0            0.0         0          0
11                   626         625.0           -1.0         0          0
12                   910         915.0            5.0         0          0
13                   634         632.0           -2.0         0          0
14                   725         704.0          -21.0         0          0
15                   915         856.0          -19.0         0          0
16                   911         911.0            0.0         0          0
17                   726         739.0           13.0         0          0
18                   726         715.0          -11.0         0          0
19                   903         922.0           19.0         0          0
20                   911         932.0           21.0         0          0
21                  1200        1130.0          -30.0         0          0
22                   823         812.0          -11.0         0          0
23                   855         855.0            0.0         0          0
24                   901         944.0           43.0         0          0
25                   836         848.0           12.0         0          0
26                   827         832.0            5.0         0          0
27                   735         729.0           -6.0         0          0
28                   825         756.0          -29.0         0          0
29                   732         722.0          -10.0         0          0
...                  ...           ...            ...       ...        ...
12169               2352        2336.0          -16.0         0          0
12170               2351        2337.0          -14.0         0          0
12171               2347        2334.0          -13.0         0          0
12172                710         718.0            8.0         0          0
12173                644         632.0          -12.0         0          0
12174                645         644.0           -1.0         0          0
12175                700         648.0          -12.0         0          0
12176                639         636.0           -3.0         0          0
12177                 45          53.0            8.0         0          0
12178                715         705.0          -10.0         0          0
12179                 30          32.0            2.0         0          0
12180                455         443.0          -12.0         0          0
12181                455         427.0          -28.0         0          0
12182               2359        2356.0           -3.0         0          0
12183                830         836.0            6.0         0          0
12184               2350        2337.0          -13.0         0          0
12185                505         451.0          -14.0         0          0
12186                638         619.0          -19.0         0          0
12187                606         540.0          -26.0         0          0
12188                730         657.0          -33.0         0          0
12189                719         701.0          -18.0         0          0
12190                755         733.0          -22.0         0          0
12191                537         512.0          -25.0         0          0
12192                545         533.0          -12.0         0          0
12193                629         631.0            2.0         0          0
12194                759         744.0          -15.0         0          0
12195                707         707.0            0.0         0          0
12196                705         641.0          -24.0         0          0
12197                609         604.0           -5.0         0          0
12198                514         507.0           -7.0         0          0

       Total Delay        DATE
0             37.0  2015-02-16
1             32.0  2015-02-16
2             38.0  2015-02-16
3            232.0  2015-02-16
4            256.0  2015-02-16
5            499.0  2015-02-16
6            499.0  2015-02-16
7            497.0  2015-02-16
8            513.0  2015-02-16
9            512.0  2015-02-16
10           530.0  2015-02-16
11           529.0  2015-02-16
12           540.0  2015-02-16
13           533.0  2015-02-16
14           515.0  2015-02-16
15           518.0  2015-02-16
16           540.0  2015-02-16
17           553.0  2015-02-16
18           529.0  2015-02-16
19           560.0  2015-02-16
20           563.0  2015-02-16
21           515.0  2015-02-16
22           534.0  2015-02-16
23           545.0  2015-02-16
24           588.0  2015-02-16
25           562.0  2015-02-16
26           555.0  2015-02-16
27           594.0  2015-02-16
28           571.0  2015-02-16
29           590.0  2015-02-16
...            ...         ...
12169       2214.0  2015-02-24
12170       2218.0  2015-02-24
12171       2221.0  2015-02-24
12172       2243.0  2015-02-24
12173       2223.0  2015-02-24
12174       2234.0  2015-02-24
12175       2223.0  2015-02-24
12176       2232.0  2015-02-24
12177       2247.0  2015-02-24
12178       2230.0  2015-02-24
12179       2242.0  2015-02-24
12180       2238.0  2015-02-24
12181       2225.0  2015-02-24
12182       2252.0  2015-02-24
12183       2261.0  2015-02-24
12184       2242.0  2015-02-24
12185       2290.0  2015-02-24
12186       2286.0  2015-02-24
12187       2279.0  2015-02-24
12188       2284.0  2015-02-24
12189       2307.0  2015-02-24
12190       2314.0  2015-02-24
12191       2314.0  2015-02-24
12192       2330.0  2015-02-24
12193       2352.0  2015-02-24
12194       2338.0  2015-02-24
12195       2353.0  2015-02-24
12196       2333.0  2015-02-24
12197       2354.0  2015-02-24
12198       2352.0  2015-02-24

[12199 rows x 24 columns]
   DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER ORIGIN_AIRPORT  \
0            2      AA           2400      N5DEAA            LAX
1            4      AA           2400      N5ECAA            LAX
2            4      AA            258      N3CCAA            LAX
3            5      AA           2400      N5CFAA            LAX
4            5      AA            258      N3ARAA            LAX
5            6      AA           2400      N3DHAA            LAX
6            7      AA           2400      N5DJAA            LAX
7            1      AA            258      N3HWAA            LAX

  DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  DEPARTURE_TIME DEPARTURE_DELAY  \
0                 DFW                    5             4.0           -0:01
1                 DFW                    5            10.0            0:05
2                 MIA                   20            18.0           -0:02
3                 DFW                    5          2357.0           -0:08

In [19]:
#DIVERTED LOOPS
diverted_group = diverted_df3.groupby(['AIRLINE'])
for name, group in diverted_group:
    if name == 'UA':
        UA_diverted = pd.DataFrame(group)
        UA_diverted= UA_diverted.reset_index().drop(['index'], axis = 1)
    elif name == 'AA':
        AA_diverted = pd.DataFrame(group)
        AA_diverted = AA_diverted.reset_index().drop(['index'],axis = 1)
    elif name == 'DL':
        DL_diverted = pd.DataFrame(group)
        DL_diverted = DL_diverted.reset_index().drop(['index'],axis = 1)
    elif name == 'US':
        US_diverted = pd.DataFrame(group)
        US_diverted = US_diverted.reset_index().drop(['index'],axis = 1)
    elif name =='WN':
        WN_diverted = pd.DataFrame(group)
        WN_diverted = WN_diverted.reset_index().drop(['index'],axis = 1)
    elif name == 'VX':
        VX_diverted = pd.DataFrame(group)
        VX_diverted = VX_diverted.reset_index().drop(['index'],axis = 1)
print(UA_diverted)
print(AA_diverted)
print(DL_diverted)
print(US_diverted)
print(WN_diverted)

    DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER ORIGIN_AIRPORT  \
0             1      UA           1060      N14242            SFO
1             1      UA           1188      N76514            SFO
2             1      UA            536      N430UA            MIA
3             1      UA           1261      N75425            IAH
4             1      UA            464      N415UA            IAH
5             2      UA            253      N772UA            IAH
6             4      UA            687      N471UA            SFO
7             5      UA           1142      N66831            MCO
8             5      UA           1071      N76529            EWR
9             6      UA           1109      N36472            EWR
10            7      UA           1501      N14237            IAH
11            2      UA            236      N473UA            LAS

   DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  SCHEDULED_TIME  DISTANCE  \
0                  DCA                 1400           306.0      2442
1                  RDU                 1605           298.0      2400
2                  DEN                 1650           280.0      1709
3                  DEN                 1743           157.0       862
4                  DCA                 1903           174.0      1208
5                  HNL                  920           516.0      3904
6                  LAX                 2010            92.0       337
7                  DEN                  812           258.0      1546
8                  BQN                 2115           231.0      1585
9                  MCO                 1816           182.0       937
10                 HDN                 1135           177.0       985
11                 IAD                  657           265.0      2065

    SCHEDULED_ARRIVAL  DIVERTED  CANCELLED        DATE
0                2206         1          0  2015-02-16
1                   3         1          0  2015-02-16
2                1930         1          0  2015-02-16
3                1920         1          0  2015-02-16
4                2257         1          0  2015-02-16
5                1356         1          0  2015-02-17
6                2142         1          0  2015-02-19
7                1030         1          0  2015-02-20
8                 206         1          0  2015-02-20
9                2118         1          0  2015-02-21
10               1332         1          0  2015-02-22
11               1422         1          0  2015-02-24
    DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER ORIGIN_AIRPORT  \
0             1      AA             74      N436AA            DFW
1             1      AA           1672      N4YEAA            LAX
2             1      AA            117      N783AA            JFK
3             1      AA           2267      N3MCAA            ORD
4             1      AA           1298      N023AA            DFW
5             2      AA             68      N5BTAA            SFO
6             2      AA            313      N598AA            DEN
7             2      AA           1569      N513AA            DFW
8             3      AA           2454      N3JAAA            BOS
9             3      AA           1133      N3CUAA            LGA
10            4      AA           1320      N5CPAA            JFK
11            5      AA           2235      N3APAA            DTW
12            5      AA           2373      N4XSAA            DFW
13            6      AA           1688      N3ACAA            DFW
14            6      AA           1299      N3KVAA            MIA
15            6      AA           1602      N558AA            DFW
16            6      AA            150      N484AA            DFW
17            6      AA           1489      N3BEAA            MIA
18            6      AA           1602      N484AA            BWI
19            6      AA            360      N3MEAA            ORD
20            6      AA           1152      N3LBAA            DFW
21            6      AA            354      N3GRAA            ORD
22            6      AA           1419      N3KKAA            MIA
23            7      AA           1495      N5BRAA            DFW
24            7      AA           1080      N012AA            ORD
25            7      AA           1682      N3FTAA            PHX
26            7      AA            937      N007AA            DFW
27            7      AA           2458      N4XUAA            DFW
28            7      AA           2383      N3LXAA            ORD
29            1      AA           1081      N3JCAA            IAD
30            1      AA           2263      N541AA            CMH
31            1      AA            249      N558AA            EWR

   DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  SCHEDULED_TIME  DISTANCE  \
0                  HOU                  920            66.0       247
1                  AUS                 1105           177.0      1242
2                  LAX                 1445           399.0      2475
3                  DCA                 1715           104.0       612
4                  ATL                 1815           119.0       731
5                  MIA                  700           319.0      2585
6                  DFW                 1210           115.0       641
7                  MFE                 1800            92.0       469
8                  MIA                  515           210.0      1258
9                  MIA                 1055           201.0      1096
10                 STT                  800           240.0      1623
11                 PHX                 1100           276.0      1671
12                 BNA                 2025           101.0       631
13                 DCA                  750           161.0      1192
14                 DCA                  925           149.0       919
15                 BWI                  940           164.0      1217
16                 BWI                 1135           162.0      1217
17                 LGA                 1135           174.0      1096
18                 DFW                 1406           219.0      1217
19                 LGA                 1605           124.0       733
20                 LGA                 1605           189.0      1389
21                 LGA                 1635           123.0       733
22                 BDL                 2005           181.0      1194
23                 EGE                 1140           139.0       721
24                 EGE                 1145           170.0      1007
25                 SNA                 1500            80.0       338
26                 EGE                 1648           135.0       721
27                 ORF                 1910           160.0      1212
28                 SNA                 1930           263.0      1726
29                 LAX                  800           352.0      2288
30                 DFW                 1221           174.0       926
31                 DFW                 1448           247.0      1372

    SCHEDULED_ARRIVAL  DIVERTED  CANCELLED        DATE
0                1026         1          0  2015-02-16
1                1602         1          0  2015-02-16
2                1824         1          0  2015-02-16
3                1959         1          0  2015-02-16
4                2114         1          0  2015-02-16
5                1519         1          0  2015-02-17
6                1505         1          0  2015-02-17
7                1932         1          0  2015-02-17
8                 845         1          0  2015-02-18
9                1416         1          0  2015-02-18
10               1300         1          0  2015-02-19
11               1336         1          0  2015-02-20
12               2206         1          0  2015-02-20
13               1131         1          0  2015-02-21
14               1154         1          0  2015-02-21
15               1324         1          0  2015-02-21
16               1517         1          0  2015-02-21
17               1429         1          0  2015-02-21
18               1645         1          0  2015-02-21
19               1909         1          0  2015-02-21
20               2014         1          0  2015-02-21
21               1938         1          0  2015-02-21
22               2306         1          0  2015-02-21
23               1259         1          0  2015-02-22
24               1335         1          0  2015-02-22
25               1520         1          0  2015-02-22
26               1803         1          0  2015-02-22
27               2250         1          0  2015-02-22
28               2153         1          0  2015-02-22
29               1052         1          0  2015-02-23
30               1415         1          0  2015-02-23
31               1755         1          0  2015-02-23
    DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER ORIGIN_AIRPORT  \
0             1      DL           1097      N397DA            LAX
1             1      DL           1671      N938DL            RSW
2             1      DL           2146      N926DH            ROC
3             1      DL           1187      N959DN            MSP
4             1      DL           1738      N618DL            ATL
5             1      DL           2272      N906DE            ATL
6             2      DL           1113      N926DH            ATL
7             2      DL           2232      N936DN            MKE
8             2      DL           1926      N951DN            ATL
9             3      DL           1056      N904DA            SJC
10            4      DL            803      N907DE            CVG
11            4      DL           1227      N937AT            ATL
12            4      DL           2289      N335NB            ATL
13            5      DL           2612      N906AT            ATL
14            6      DL            150      N947DN            ATL
15            6      DL           1207      N962DL            FLL
16            6      DL           1779      N337NB            MSY
17            6      DL           1448      N918DL            RSW
18            6      DL           1885      N902DE            MCO
19            6      DL           1124      N969AT            PBI
20            6      DL           2303      N905DL            FLL
21            6      DL            874      N368NW            MIA
22            6      DL           2236      N912DL            ATL
23            6      DL           2047      N917DL            MIA
24            6      DL           1830      N706TW            SLC
25            6      DL           2495      N344NB            MIA
26            6      DL            348      N382DA            SJU
27            6      DL           1162      N190DN            LAX
28            6      DL           2637      N682DA            LAS
29            6      DL           1262      N624AG            LAX
30            6      DL           1264      N660DL            SLC
31            7      DL            460      N3751B            JFK
32            7      DL           2600      N905DL            LGA
33            7      DL           2478      N986AT            ATL
34            7      DL           2516      N950DL            ATL
35            7      DL            759      N930DN            MSP
36            7      DL           2065      N924AT            ATL
37            7      DL           2095      N993DL            ATL
38            7      DL           2518      N341NB            ATL
39            1      DL           1459      N359NB            MSY
40            1      DL            676      N891AT            LGA
41            1      DL           1833      N392DA            CVG
42            2      DL           1543      N314NB            ALB
43            2      DL            874      N958DL            MIA

   DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  SCHEDULED_TIME  DISTANCE  \
0                  RDU                 1115           280.0      2239
1                  JFK                 1220           174.0      1074
2                  ATL                 1738           152.0       749
3                  DCA                 1744           144.0       931
4                  DCA                 1820           104.0       547
5                  AGS                 2250            52.0       143
6                  ORF                  725            89.0       516
7                  MSP                 1714            80.0       297
8                  MCI                 1805           139.0       692
9                  MSP                  615           229.0      1576
10                 MCO                  941           136.0       757
11                 LEX                 1455            76.0       304
12                 AVL                 1810            59.0       164
13                 EVV                 2116            82.0       350
14                 DCA                 1050           101.0       547
15                 MSP                 1154           240.0      1487
16                 LGA                 1220           162.0      1183
17                 LGA                 1240           172.0      1080
18                 LGA                 1300           151.0       950
19                 LGA                 1305           168.0      1035
20                 LGA                 1315           177.0      1076
21                 LGA                 1325           176.0      1096
22                 PHL                 1359           124.0       666
23                 JFK                 1513           179.0      1089
24                 JFK                 1700           254.0      1990
25                 JFK                 1935           173.0      1089
26                 JFK                 2055           237.0      1598
27                 JFK                 2140           309.0      2475
28                 JFK                 2215           277.0      2248
29                 JFK                 2255           305.0      2475
30                 JFK                 2340           257.0      1990
31                 SJU                  710           233.0      1598
32                 RSW                  805           215.0      1080
33                 JAN                 1454            82.0       341
34                 VPS                 1920            75.0       250
35                 GEG                 1932           198.0      1175
36                 ECP                 1945            70.0       240
37                 ORF                 2200            98.0       516
38                 VPS                 2215            72.0       250
39                 LGA                  628           166.0      1183
40                 TPA                 1520           200.0      1010
41                 LAX                 1600           305.0      1900
42                 ATL                 1240           170.0       853
43                 LGA                 1340           179.0      1096

    SCHEDULED_ARRIVAL  DIVERTED  CANCELLED        DATE
0                1855         1          0  2015-02-16
1                1514         1          0  2015-02-16
2                2010         1          0  2015-02-16
3                2108         1          0  2015-02-16
4                2004         1          0  2015-02-16
5                2342         1          0  2015-02-16
6                 854         1          0  2015-02-17
7                1834         1          0  2015-02-17
8                1924         1          0  2015-02-17
9                1204         1          0  2015-02-18
10               1157         1          0  2015-02-19
11               1611         1          0  2015-02-19
12               1909         1          0  2015-02-19
13               2138         1          0  2015-02-20
14               1231         1          0  2015-02-21
15               1454         1          0  2015-02-21
16               1602         1          0  2015-02-21
17               1532         1          0  2015-02-21
18               1531         1          0  2015-02-21
19               1553         1          0  2015-02-21
20               1612         1          0  2015-02-21
21               1621         1          0  2015-02-21
22               1603         1          0  2015-02-21
23               1812         1          0  2015-02-21
24               2314         1          0  2015-02-21
25               2228         1          0  2015-02-21
26               2352         1          0  2015-02-21
27                549         1          0  2015-02-21
28                552         1          0  2015-02-21
29                700         1          0  2015-02-21
30                557         1          0  2015-02-21
31               1203         1          0  2015-02-22
32               1140         1          0  2015-02-22
33               1516         1          0  2015-02-22
34               1935         1          0  2015-02-22
35               2050         1          0  2015-02-22
36               1955         1          0  2015-02-22
37               2338         1          0  2015-02-22
38               2227         1          0  2015-02-22
39               1014         1          0  2015-02-23
40               1840         1          0  2015-02-23
41               1805         1          0  2015-02-23
42               1530         1          0  2015-02-24
43               1639         1          0  2015-02-24
    DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER ORIGIN_AIRPORT  \
0             1      US           1829      N121UW            ATL
1             1      US            837      N712US            STT
2             1      US            673      N661AW            EWR
3             1      US           1805      N701UW            PIT
4             2      US           1852      N722US            BOS
5             4      US           1996      N151UW            CLT
6             5      US           1701      N947UW            BOS
7             5      US            639      N564UW            JFK
8             6      US            718      N538UW            SFO
9             6      US            754      N173US            LAX
10            6      US           1705      N836AW            DFW
11            6      US            507      N665AW            PHX
12            6      US            810      N126UW            STT
13            6      US            680      N186US            PHX
14            6      US            742      N162UW            ORD
15            6      US            555      N750UW            PBI
16            6      US           1881      N157UW            TPA
17            6      US           1928      N951UW            ATL
18            6      US           1846      N770UW            TPA
19            6      US            856      N118US            STT
20            6      US           2011      N947UW            PHL
21            6      US           1712      N668AW            PHX
22            6      US           1740      N125UW            CLT
23            6      US           1807      N203UW            MIA
24            6      US           2022      N716UW            FLL
25            7      US           2145      N958UW            DCA
26            7      US            703      N507AY            PHL
27            1      US            581      N663AW            PHL
28            1      US           1841      N587UW            DEN

   DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  SCHEDULED_TIME  DISTANCE  \
0                  CLT                 1530            74.0       226
1                  PHL                 1545           255.0      1605
2                  CLT                 1725           120.0       529
3                  CLT                 1910            94.0       366
4                  CLT                  500           145.0       728
5                  PVD                 2020           113.0       683
6                  PHL                  830            97.0       280

### Tweet Data (Natalie)

MK NOTES
1. Use Group By & Filtering to Create Data Frames of Positive/Negative/Neutral Tweets for Each Airline (AIRLINE CODE MUST BE IN EACH DATAFRAME)

In [ ]:
#ADD CODE HERE

## Data Loading (Matt)

MK Notes
1. Create ERD for Completed Database
2. Create Database in PGAdmin
3. Use SQL Alchemy to Load Dataframes into Tables & Relate by Keys

In [ ]:
#ADD CODE HERE

# Project Analysis

## Data Extraction

### Flight Data (Myles & Sedra)

ADD TEXT HERE

### Tweet Data (Natalie)

ADD TEXT HERE

## Data Transformation

### Flight Data (Myles & Sedra)

ADD TEXT HERE

### Tweet Data (Natalie)

ADD TEXT HERE

## Data Loading (Matt)

ADD TEXT HERE